DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME?schema=public"

AUTH_GRPC_URL=localhost:50051
QUESTION_GRPC_URL=localhost:50052
MATCH_GRPC_URL=localhost:50053
ROOM_GRPC_URL=0.0.0.0:50054