# ═══════════════════════════════════════════════════════════════════
# Room Service - Variáveis de Ambiente
# ═══════════════════════════════════════════════════════════════════

# Banco de dados (Docker)
DATABASE_URL="postgresql://quiz_user:quiz_password@postgres:5432/quiz_db?schema=room"

# Porta HTTP
PORT=3000

# URLs gRPC dos serviços (Docker)
ROOM_GRPC_URL=0.0.0.0:50052
AUTH_GRPC_URL=auth-service:50051
QUESTION_GRPC_URL=question-service:50054
MATCH_GRPC_URL=match-service:50053