DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME?schema=public"
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/room_service?schema=public"

ROOM_GRPC_URL=0.0.0.0:50054
AUTH_GRPC_URL=auth-service:50051
QUESTION_GRPC_URL=questions-service:50052
MATCH_GRPC_URL=match-service:50053
PORT=3000